name: CI

on: 
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - run: sudo apt-get update -qq
      - run: sudo apt-get install -qq nasm g++-multilib gcc-multilib libc6-dev-i386 python3-pip python3-setuptools
      - run: sudo python3 -m pip install meson==0.52.1 ninja
      - run: nasm -v 
      - run: c++ --version
      - run: make gmp-bootstrap
      - run: make gtest-bootstrap
      - run: meson builddir
      - run: ninja -C builddir -v
      - run: ( cd test/encoder_binary_comparison ; ./run_PrepareAllTestData.sh 64 )
      - run: meson test -C builddir -v
      - run: ./run_Test.sh BinaryCompare BA_MW_D.264
      - run: ./run_Test.sh BinaryCompare Adobe_PDF_sample_a_1024x768_50Frms.264
      - run: ./run_Test.sh BinaryCompare Zhling_1280x720.264

  windows:
    runs-on: windows-2019
    steps:
      - uses: actions/checkout@v2
      - run: choco install nasm
      # nasm is not installed into the $PATH so add it manually
      - run: echo "C:\Program Files\NASM" >> $env:GITHUB_PATH
      - run: nasm -v
      - run: make OS=msvc gmp-bootstrap
      - run: make OS=msvc gtest-bootstrap
      - working-directory: ./build
        run: ./AutoBuildForWindows.bat
      - run: ./bin/Win32/Release/codec_unittest.exe

  aarch64:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: sudo dpkg --add-architecture aarch64
      - run: sudo apt-get update -qq
      - run: sudo apt-get install -qq gcc-aarch64-linux-gnu g++-aarch64-linux-gnu qemu-user
      - run: c++ --version
      - run: make gmp-bootstrap
      - run: make gtest-bootstrap
      - run: make OS=linux CC=aarch64-linux-gnu-gcc CXX=aarch64-linux-gnu-g++ ARCH=arm64
      - run: qemu-aarch64 -L /usr/aarch64-linux-gnu/ ./codec_unittest
